{% extends "base.html" %}

{% block content %}

<div class="d-flex justify-content-between align-items-center mb-4">
<h1 class="mb-1">Projects</h1>
</div>

SECTION PLACEHOLDER FOR ADDING PROJECT

<div class="card shadow-sm">
    <div class="card-body">


<tabel class="table align-middle">
<thead>
    <tr>
        <th scope="col">Project Name</th>
        <th scope="col">Description</th>
        <th scope="col">Owner</th>
        <th scope="col">Actions</th>
        </tr>   
</thead>



</tabel>

    </div>


</div>


<h1>Projects Placeholder</h1>

{% endblock %}