{% extends "base.html" %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-lg-6">
        <div class="card shadow-sm border-danger">
            <div class="card-body">
                <ht class="h4 mb-3">Delete Project</ht>

<form method="post">
{% csrf_token %}
        <a href="{% url 'project_detail' object.pk %}" class="btn btn-outline-secondary">Cancel</a>
  
        <button="submit" class="bt bt-danger confirm-action">Delete</button>


</form>
            </div>
               </div>
        </div>
    </div>

{% endblock %}