body {
    background-color: #f4f6f8;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

html, body {
    height: 100%;
}

main {
    flex: 1;
}
/* Footer  */

.site-footer {
    background-color: #ffffff;
    text-align: center;
}


.site-footer .container {
    text-align: center;
}
/* Navbar  */
.btn-link.nav-link {
    color: rgba(225, 225, 225, 0.55);
    text-decoration: none;
    padding: 0.5rem;
}

.btn-link.nav-link:hover {
    color: rgba(225, 225, 225, 0.75);
}

.navbar-brand {
    letter-spacing: 0.02.em;

}

/* Form elements  */
.form-label {
    font-weight: 600;
}


/* Login Card  */
.card {
    border-radius: 0.75rem;
}


/* Log out button  */
.logout-form {
  margin: 0;
}

.logout-button {
    padding-left: 0.5rem;
        padding-right: 0.5rem;
        text-align: left
}

/* Mobile and screen - responsive  */
@media (max-width: 991.98px) {
    .navbar-nav .logout-form {
        width: 100%
    }
}

.navbar-nav .logout-button {
    width: 100%;
    text-align: left;
    padding-left: 0;
}

.navbar-nav .nav-link {
    padding-left: 0;
}



/* Table for projects area  */

.table {
    margin-bottom: 0;
}