{% extends "base.html" %}

{% block content %}

<div class="d-flex justify-content-between align-items-center mb-4">
    <div>
        <h1 class="mb-1">Inbox</h1>
        <p class="text-muted mb-0"> View and manage your messages.</p>
    </div>


    <a href="{% url 'compose_message' %}" class="btn btn-primary">Compose</a>
     </div>


     <div class="card shadow-sm">
        <div class="list-group list-group-flush">
            {% for message in received_messages %}

            <a href="{% url 'message_detail' message.pk %}" class="list-group-item list-group-item-action">
                <div class="d-flex justify-content-between">
                    <strong>
                        {% if not message.is_read %}●{% endif %}
                        {{ message.subject }}
                    </strong>
                    <small class="text-muted">{{ message.sent_at }}</small>

                </div>
                <div class="text-muterd">From: {{ message.sender.username }}</div>
            </a>
            {% empty %}
            <div class="list-group-item text-muted">
                No messages in your inbox.
            </div>
        </div>
     </div>
{% endfor %}

{% endblock %}
